<div class="container" >
    <div id="login">
        <h2>Login</h2>

        <form class="form-horizontal">
            <fieldset>

                <div class="form-group">
                    <label for="inputUsername" class="col-lg-2 control-label">Username</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="user.username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="user.password">

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <a href="#/">Cancel</a>
                        <button type="submit" class="btn btn-primary" ng-click="login(user)">Submit</button>
                        <a ng-click="showEmail()">Forgot your password?</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="email" ng-if="emailStatus == true">
        <label for="passEmail">Enter email</label>
        <input type="text" id="passEmail" ng-model="email">
        <button type="submit" class="btn btn-primary" ng-click="resetPassword(email)">Send</button>
    </div>
</div>