<div id="admin-menu">
    <h2>Admin's Menu</h2>
    <ul>
        <li><a href="#/"><img src="img/home-logo.png" class="logo">Home</a></li>
        <li><a href="#/admin/ads"><img src="img/myad-logo.png" class="logo">My Ads</a></li>
        <li><a href="#/admin/ads/publish"><img src="img/publish-logo.png" class="logo">Publish new ad</a></li>
        <li><a href="#/admin/editProfile"><img src="img/edit-logo.png" class="logo">Edit profile</a></li>
        <li><a href="#/admin/view-ads"><img src="img/viewads-logo.png" class="logo">Ads</a></li>
        <li><a href="#/admin/categories"><img src="img/categories-logo.png" class="logo">Categories</a></li>
        <li><a href="#/admin/towns"><img src="img/towns-logo.png" class="logo">Towns</a></li>
    </ul>
</div>
